.section-6{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/PatternLight.png');
div{
    width: 86%;
    height: 500px;
    // background-color: #7e828a;
    display: flex;
    justify-content: space-between;
    align-items: center;
  






    .nav0{
        width: 47%;
        height: 480px;
        // background-color: #1954b3;


.nav-left{
    width: 90%;
    height: 130px;
    // background-color: rgb(106, 131, 131);
    display: flex;
    margin-top: 6%;


    menu{
       
    h1{
        color: rgb(37, 37, 37);
        font-size: 26px;
        font-weight: 600;
        font-family: sans-serif;
        padding-left: 5%;
    }

    p{
        color: rgb(51, 51, 51);
     padding: 5% 5%;
    }
}
    .nav1{
width: 12%;
height: 45px;
background-color: #22C55E;
margin: 0% 0% 4% 0%;
display: flex;
justify-content: center;
align-items: center;

i{
font-size: 25px;
color: white;
}
}



}
// navleft





    .nav-left{
        width: 90%;
        height: 130px;
        // background-color: rgb(106, 131, 131);
        display: flex;
        margin-top: 6%;
    
    
        menu{
           
        h1{
            color: rgb(37, 37, 37);
            font-size: 26px;
            font-weight: 600;
            font-family: sans-serif;
            padding-left: 5%;
        }
    
        p{
            color: rgb(51, 51, 51);
         padding: 5% 5%;
        }
    }
        .nav1{
    width: 12%;
    height: 45px;
    background-color: #22C55E;
    margin: 0% 0% 4% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    i{
    font-size: 25px;
    color: white;
    }
    
    }
     //  nav1

}
    //navleft
      



    .nav-left{
        width: 90%;
        height: 100px;
        // background-color: rgb(106, 131, 131);
        display: flex;
        margin-top: 10%;
    
    
        menu{
           
        h1{
            color: rgb(37, 37, 37);
            font-size: 26px;
            font-weight: 600;
            font-family: sans-serif;
            padding-left: 5%;
        }
    
        p{
            color: rgb(51, 51, 51);
         padding: 5% 5%;
        }
    }
        .nav1{
    width: 12%;
    height: 45px;
    background-color: #22C55E;
    margin: 0% 0% 4% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    i{
    font-size: 25px;
    color: white;
    }
    
    }
     //  nav1

}
    //navleft


        }
        // nav0




        







.nav-img{
    width: 47%;
    height: 480px;
    background-image: url('images/ImageContainer.png');
    background-repeat: no-repeat;
    background-size: contain;
    
 }


}
// +
}    
// +

