.section-2{
    width: 100%;
    height: 320px;
    background-image: url('images/PatternLight.png');
    background-repeat: no-repeat;
    background-size: cover;
display: flex;
justify-content: center;
align-items: center;


    nav{
        width: 100%;
        height: 170px;
        p{
            color: rgb(150, 150, 150);
            display: flex;
justify-content: center;
align-items: center;
margin: 32px 0px;
        }
        img{
  margin-left: 72px;
        }
 
    }

    

}
.M1{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);

    .M2{
        width: 100%;
        height: 100px;
        background-color: #F7F8F9;  
        clip-path: polygon(0 0, 100% 0, 100% 32%, 81% 43%, 69% 57%, 42% 100%, 14% 100%, 7% 69%, 0 47%, 0 14%);
}


}